<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NuevaPregunta</servlet-name>
        <servlet-class>NuevaPregunta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargarMenu</servlet-name>
        <servlet-class>CargarMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargarPregunta</servlet-name>
        <servlet-class>CargarPregunta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePregunta</servlet-name>
        <servlet-class>UpdatePregunta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarPregunta</servlet-name>
        <servlet-class>BorrarPregunta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NuevaPregunta</servlet-name>
        <url-pattern>/NuevaPregunta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargarMenu</servlet-name>
        <url-pattern>/CargarMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargarPregunta</servlet-name>
        <url-pattern>/CargarPregunta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePregunta</servlet-name>
        <url-pattern>/UpdatePregunta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarPregunta</servlet-name>
        <url-pattern>/BorrarPregunta</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
